body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    border: solid rgb(255, 142, 142) 2px;
    box-shadow: 10px 10px 10px rgb(255, 208, 208);
    border-radius: 10px;
    width: 50%; 
    max-width: 500px; 
    height: auto; 
}
